#vue_app
{
    background-color: #1D2D3C;
}

#overlay
{
    position: absolute;
    width: 95%;
    height: 95%;
    left: 2.5%;
    top: 2.5%;
    background-color: rgb(20, 20, 42);
    opacity: 0.95;
    border-radius: 5px;
}

#full_screen_card
{
    position: absolute;
    width: 33%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

#full_screen_card img
{
    width: 100%;
    aspect-ratio: 1;
    border: 5px solid white;
}

header
{
    height: 7vh;
    background-color: #06131F;
}

header > img
{
    height: 50%;
    position: absolute;
    left: 35px;
}

main
{
    height: 93vh;
}

main > #card_set
{
    width: 60%;
    height: 95%;
    gap: 50px;
}

#card_set .card
{
    flex-basis: calc((100% - 100px) / 3);
    height: calc((100% - 50px) / 2);
    background-color: #112030;
    border: 3px solid transparent;
}

#card_set .card:hover
{
    cursor: pointer;
    background-color: blue;
    border-color: yellowgreen;
}

#card_set .card > img
{
    width: 65%;
}
