#vue_app
{
    background-color: #1D2D3C;
}

header
{
    height: 7vh;
    background-color: #06131F;
}

header > img
{
    height: 50%;
    position: absolute;
    left: 35px;
}

main
{
    height: 93vh;
}

main > #card_set
{
    width: 60%;
    height: 95%;
    gap: 50px;
}

.card
{
    flex-basis: calc((100% - 100px) / 3);
    height: calc((100% - 50px) / 2);
    background-color: #112030;
}

.card:hover
{
    cursor: pointer;
    background-color: blue;
}

.card > img
{
    width: 65%;
}
